{{#partial "contenido"}}

<section class = "content">
	<table>
	<tr>
        <th> Compra </th>
        <th> Mensaje </th>
    </tr>
	{{#each bandejaDeMensajes.mensajes}}
		<tr>
		<td>{{ id }}</td>
   		<td>{{ descripcion }}</td>
   		</tr>
	{{/each}}
	</table>
    </div>
    <br/>
    <a class = "link_boton" href = "/">  Volver  </a>
    <form action="/bandeja_de_entrada/limpiar" method="post">
            <input class = "submit_gris" type="submit" value="Limpiar bandeja de mensajes" onclick="alert('Descartando todos los mensajes!')">
     </form>
</section>

{{/partial}}

{{>layout.hbs}}