{{#partial "contenido"}}

<section class = "content">
    <fieldset class = "formulario">
        <legend>Modificar Detalle</legend>
        <form>
            <label class = "label2">Detalle</label>
            <input type="text" id="detalle" name="detalle" placeholder="Ingrese nuevo detalle..." />
            <br />
            <input class = "submit_azul" type="submit" value="Modificar" >
            <input class = "submit_gris" type="submit" value="Cancelar" >
        </form>
    </fieldset>
    <fieldset class = "formulario">
        <legend>Modificar Proveedor</legend>
        <form>
            <label class = "label2">Proveedor</label>
            <input type="text" id="proveedor" name="proveedor" placeholder="Ingrese nuevo proveedor..." />
            <br />
            <input class = "submit_azul" type="submit" value="Modificar" >
            <input class = "submit_gris" type="submit" value="Cancelar" >
        </form>
    </fieldset>
    <fieldset class = "formulario">
        <legend>Modificar Medio de Pago</legend>
        <form>
            <label class = "label2">Medio de Pago</label>
            <input type="text" id="medio_pago" name="medio_pago" placeholder="Ingrese nuevo id medio de pago..." />
            <br />
            <input class = "submit_azul" type="submit" value="Modificar" >
            <input class = "submit_gris" type="submit" value="Cancelar" >
        </form>
    </fieldset>
    <fieldset class = "formulario">
        <legend>Modificar Criterio Presupuestario</legend>
        <form>
            <label class = "label2">Criterio Presupuestario</label>
            <select class="combo">
                <option value="Select">Elija una opción...</option>
                <option value="estandar">Más barato</option>
                <option value="estandar">Sin creterio</option>
            </select>
            <br />
            <input class = "submit_azul" type="submit" value="Modificar" >
            <input class = "submit_gris" type="submit" value="Cancelar" >
        </form>
    </fieldset>
    <a class = "link_boton" href = "/compra/editar/presupuestos">  Presupuestos  </a>
    <br/>
    <a class = "link_boton" href = "/compra/editar/etiquetas">  Etiquetas  </a>
    <br/>
    <a class = "link_boton" href = "/compras">  Darse de Alta  </a>
    <br/>
    <a class = "link_boton" href = "/compras">  Volver  </a>
</section>

{{/partial}}

{{>layout.hbs}}