<html>
    <head>
        <link rel="stylesheet" href="/dds.css" type="text/css" />
    </head>
	<body>
	    <ul class="encabezado">
            <li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href = "/entidades">Entidades</a></li>
            <li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href = "/compras">Compras</a></li> 
            <li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href = "/bandeja_de_entrada">Bandeja de Entrada</a></li>
			<li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href = "/categorias">Categorias</a></li>
        	<li class = "elemento_encabezado" align=right><a class = "link_elemento_encabezado" href = "/logout"> Cerrar sesion </a></li>
        </ul>
	    <div>
	    	{{#block "contenido"}}
	    	{{/block}}
	    </div>
	</body>
</html>