<html>
    <head>
        <link rel="stylesheet" href="/dds.css" type="text/css" />
    </head>
	<body>
	    <div>
			<form method="POST" action=/login class="content">
			    <label class = label1>Nombre</label>
			    <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre..." />
			    <label class = label1>Contrase침a</label>
			    <input type="password" id="contrasenia" name="contrasenia" placeholder="Ingrese contrase침a..." />
			    <label class = label1>Tipo de Usuario</label>
			    <select class="combo" name="tipousuario" required>
			        <option class="combo" value="">Elija una opci칩n...</option>
			        <option value="estandar">Est치ndar</option>
			        <option value="admin">Administrador</option>
			    </select>
			    <br />
			    <button class="submit_azul" type="submit" name="boton" value="iniciar_sesion">Iniciar Sesion</button>
   				<button class="submit_azul" type="submit" name="boton" value="registrarse">Registrarse</button>
			</form>
			Ultimo usuario creado   "{{nombre}}"   de tipo {{tipo_string}}
	    </div>
	</body>
</html>