{{#partial "contenido"}}

<section class = "content">
    <div>
        <table>
            <tr>
                <th> Reporte </th>
            </tr>
            <tr>
                <td>Reporte 1</td>
            </tr>
            <tr>
                <td>Reporte 2</td>
            </tr>
            <tr>
                <td>Reporte 3</td>
            </tr>
        </table>
    </div>
        <br />
        <br />
        <a class = "link_boton_2" href = "/entidades">  Volver  </a>
</section>

{{/partial}}

{{>layout.hbs}}